* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    opacity: 0.9;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.calculator {
    box-shadow: 6px 6px 13px #fff,
                6px 6px 13px #444;
    border-radius:  10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    

}

input {
    grid-column: span 4;
    height: 65px;
    width: 250px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    color: black;
    text-align: end;
    margin: 40px 0 30px 0px;
    padding: 20px;
    font-size: 35px;

}

button {
    box-shadow: inset 6px 6px 13px #fff,
                      6px 6px 13px rgba(0, 0, 0, .16);
    background-color: gainsboro;
    border: none;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.equality {
    width: 120px;
    border-radius: 5%;
    box-shadow: inset 6px 6px 13px #fff,
                      6px 6px 13px rgba(0, 0, 0, .16);
    background-color: gainsboro;
} 
